.market-stats {
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rank {
    padding: 8px;
    border-radius: $app-br;
    font-size: $font-size-xs;
    color: $white;
    background-color: #6fcf97;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.06em;
  }

  &__title {
    color: $white;
    opacity: 0.75;
  }

  &__number {
    margin-top: 4px;
    font-size: $number-big;
    color: $white;
    font-weight: bold;
  }

  &__change {
    font-size: $font-size-md;

    &_positive {
      color: #6fcf97;
    }

    &_negative {
      color: #d63649;
    }
  }

  &__chart {
    margin-left: -64px;
    width: calc(100% + #{$padding-normal} * 4);
    height: 225px;
    margin-top: -20px;
    margin-bottom: -25px;
    z-index: 1;
    position: relative;
  }
}
