.language-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  &__title {
    font-size: $font-size-xs;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: $grey-light;
    text-transform: uppercase;
    display: none;

    @media (min-width: 360px) {
      display: block;
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    border-radius: $app-br;
    font-size: $font-size-sm;
    display: flex;
    align-items: center;
    transition: $transition-1;
    display: flex;
  }

  &__icon {
    margin-left: 10px;
    transition: $transition-1;

    &_open {
      transform: scaleY(-1);
      color: $primary;
    }
  }

  &__wrapper {
    min-width: 100%;
    position: relative;
  }

  &__list {
    min-width: 100px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 101;
    background: $white;
    border: 1px solid #e0e0e0;
    border-radius: $app-br;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: $transition-1;
    width: 100%;

    @include size-desktop {
      top: 40px;
    }

    &_open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__item {
    margin-left: 40px;
    transition: $transition-1;
    color: $grey-dark;
  }

  &__flag {
    position: absolute;
  }

  &__link {
    padding: $padding-micro $padding-default;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      * {
        color: $primary;
      }
    }
  }
}
