/*========== Custom Variable ==========*/

//Grid system

// Set the number of columns you want to use on your layout.
$flexboxgrid-grid-columns: 12 !default;
// Set the gutter between columns.
$flexboxgrid-gutter-width: 1rem !default;
// Set a margin for the container sides.
$flexboxgrid-outer-margin: 2rem !default;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
$flexboxgrid-breakpoints: sm 48em 46rem, md 62em 61rem, lg 75em 71rem !default;
$flexboxgrid-max-width: 1200px !default;

$gutter-compensation: $flexboxgrid-gutter-width * 1 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * 1;

// App Global Font Size
$html-font-size: 16px;

//Default Colors
$white: #fff;
$black: #000;
$base: #f7f7fa;

//Primary Colors
$royal-blue: #5769df;
$toolbox: #7276c5;

//UI Colors
$mountain-meadow: #2bd289;
$jasper: #d63649;
$blush: #dd5e89;

//Neutral Colors
$ghost-white: #f8f8fb;
$platinum: #e1e1ed;
$quick-silver: #a2a5b9;
$darker: #4a4d5d;
$darkest: #363165;

//Theme colors
$primary: $royal-blue !default;
$secondary: $toolbox !default;
$accent-green: $mountain-meadow !default;
$accent-warning: #ff3553 !default;
$accent-blush: $blush !default;
$success: #27ce60 !default;
$error: #fea0ae !default;

//App Theme Color
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "accent-green": $accent-green,
    "accent-blush": $accent-blush,
    "success": $success
  ),
  $theme-colors
);

// Setting for the Typography elements.
$font-size-xxs: 0.625rem !default; // 10px
$font-size-xs: 0.75rem !default; // 12px
$font-size-sm: 0.9375rem !default; // 15px
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-md: 1.125rem !default; // 18x
$font-size-lg: 1.25rem !default; // 20px
$font-size-big: 2.125rem !default; //34px
$font-size-max: 4rem !default; // 64px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// App Text Scale
$text-grey-light: $quick-silver;
$text-grey-darker: $darker;
$text-grey-darkest: $darkest;

// Setting For Heading Element
$h1-font-size: 1.75rem !default; // 28px
$h2-font-size: 1.25rem !default; // 20px
$h3-font-size: 1.125rem !default; // 18x

//Shadows
$shadow-1: 1px 2px 18px rgba(113, 152, 180, 0.15);

// Gradient Theme Color
$primary-gradient: linear-gradient(
  172.89deg,
  $royal-blue 24.12%,
  #5fcff9 102.64%
);
$primary-gradient-2: linear-gradient(99.95deg, $primary 0.78%, #9f30e2 100.4%);
$orange-gradient: linear-gradient(90deg, $blush 0.24%, #f7bb97 97.08%);
$error-gradient: linear-gradient(114.68deg, $jasper 3.09%, #e33961 98.24%);
$green-gradient: linear-gradient(
  118.17deg,
  $mountain-meadow 2.8%,
  #22c2a6 84.22%
);
$dark-gradient: linear-gradient(
    161.03deg,
    rgba(0, 0, 0, 0.6) 1.31%,
    rgba(0, 0, 0, 0.2) 98.29%
  ),
  $primary;
// Transitions
$transition-1: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-2: 2s linear infinite;
$transition-3: 0.4s cubic-bezier(0.25, -0.25, 0.75, 1.25);
// Settings for the `<body>` element.
$body-bg: $base;
$body-color: $text-grey-darker;
$font-family-base: "Rubik", sans-serif;
$border-color: $platinum;

// Buttons
$btn-br: 7px;
$btn-border-default: 2px solid transparent;
$btn-fz-default: $font-size-md;
$btn-fz-small: $font-size-sm;
$btn-fz-widget: 13px;
$btn-padding-default: 19px 67px;
$btn-padding-small: 15px 73px;
$btn-padding-widget: 8px 26px;
$btn-color-default: $white;
$btn-color-disabled: $quick-silver;
$btn-default: $ghost-white;
$btn-default-color: $quick-silver;
$btn-primary: $primary;
$btn-primary-gradient: $primary-gradient-2;
$btn-secondary: $secondary;
$btn-success: $accent-green;
$btn-error: $accent-warning;
$btn-disabled: $platinum;

// Preloader
$preloader-icon-size: 48px;
$preloader-icon-color: $primary;
// Top bar
$topbar-height: 32px;
// Header bar
$headerbar-height: 80px;
$headerbar-button-size: 24px;
// Navigation
$nav-width-collapsed: 72px;
$nav-width-expanded: 264px;
$nav-font-size: $font-size-md;
$nav-color-default: $text-grey-light;
$nav-color-active: $secondary;
$nav-weight-active: $font-weight-semi-bold;
$nav-item-height: 64px;
$nav-icon-size: 24px;
$nav-marker-border-radius: 7px;
// App Custom Card
$card-bg-default: $white;
$card-bg-primary: $primary-gradient;
$card-bg-success: $green-gradient;
$card-bg-error: $error-gradient;
$card-border-radius: 7px;
$card-shadow: $shadow-1;
$card-border: 1px solid $platinum;
// App Spacing
$padding-micro: 12px;
$padding-small: 14px;
$padding-default: 16px;
$padding-normal: 24px;
$padding-medium: 40px;
$padding-big: 52px;
$padding-max: 64px;
// Sparkline-stats
$sparkline-chart-height: 120px;

// Wallet Panel
$walletpanel-bg: linear-gradient(
  96.13deg,
  #f4a271 0.12%,
  #b35deb 55.06%,
  #5769df 99.44%
);
$walletpanel-color: $white;
$walletpanel-btn-bg: rgba(0, 0, 0, 0.15);
$walletpanel-btn-hover-bg: rgba(0, 0, 0, 0.3);
$walletpanel-btn-active-bg: rgba(0, 0, 0, 0.5);
$walletpanel-btn-width: 140px;
$walletpanel-btn-more-width: 40px;
$walletpanel-icon-size: 24px;

// Wallet Mini
$wallet-mini-icon-size: 64px;
$wallet-mini-icon-color: $primary;
$wallet-mini-icon-bg: #eef0fc;

// Wallet Side
$wallet-side-bg: $dark-gradient;
$wallet-side-color: $white;

// Wallet Preview
$wallet-preview-br: 0px 10px 10px 0px;
$wallet-preview-bg-focus: rgba(121, 135, 229, 0.4);
$wallet-preview-bg-active: rgba(121, 135, 229, 0.3);
$wallet-preview-bg-hover: rgba(121, 135, 229, 0.1);
$wallet-preview-chart-width: 180px;

// Data Table
$data-table-fz: 13px;
$data-table-header-padding: $padding-micro $padding-normal;
$data-table-header-bg: $ghost-white;
$data-table-header-color: $text-grey-light;
$data-table-item-link-color: $primary;
$data-table-item-padding: $padding-small $padding-normal;
$data-switcher-padding: $padding-normal;
$data-switcher-fz: $font-size-md;
$data-switcher-color: $text-grey-light;
$data-switcher-active-color: $text-grey-darker;
$data-switcher-marker-color: $primary;
$data-switcher-marker-height: 4px;
$data-switcher-marker-width: 180px;
$data-switcher-marker-br: 7px;

// Select
$select-dark-bg: #232c6a;
$select-dark-color: $white;
$select-dark-arrow: $quick-silver;
$select-padding: $padding-micro $padding-default;
$select-br: 5px;
$select-fz: $font-size-sm;

// Input
$input-dark-bg: #232c6a;
$input-dark-color: $white;
$input-dark-arrow: $quick-silver;
$input-padding: $padding-micro $padding-default;
$input-br: 5px;
$input-fz: $font-size-sm;
