@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans/CerebriSans-Regular.eot');
  src: url('../fonts/CerebriSans/CerebriSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CerebriSans/CerebriSans-Regular.woff') format('woff'),
    url('../fonts/CerebriSans/CerebriSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans/CerebriSans-Medium.eot');
  src: url('../fonts/CerebriSans/CerebriSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CerebriSans/CerebriSans-Medium.woff') format('woff'),
    url('../fonts/CerebriSans/CerebriSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans/CerebriSans-Bold.eot');
  src: url('../fonts/CerebriSans/CerebriSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CerebriSans/CerebriSans-Bold.woff') format('woff'),
    url('../fonts/CerebriSans/CerebriSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
