/*========== Body ==========*/
html {
  overflow-x: hidden;
}

body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/*========== Layout ==========*/
.section {
  margin-top: $header-size;
  padding-bottom: $padding-normal;

  @include size-desktop {
    margin-top: 0;
    padding-bottom: 0;
  }

  &_white {
    background-color: $white;

    @include size-desktop {
      background-color: transparent;
    }
  }
}

.desktop-heading {
  margin-bottom: $padding-normal;
}

.main-header {
  overflow: hidden;
  padding: $padding-normal $padding-default;
  margin-top: -$header-size;
  padding-top: calc(#{$header-size} + #{$padding-medium});
  background: $header-gradient;

  @include size-desktop {
    margin-top: 0;
    padding-top: 72px;
  }

  &__title {
    text-align: center;

    @include size-desktop {
      font-size: 36px;
    }
  }

  &__search-bar {
    @include size-desktop {
      margin: 0 auto;
      display: flex;
      max-width: $desktop-size-sm;
    }
  }

  &__description {
    font-size: $font-size-lg;
    color: $white;
    text-align: center;
    margin: $padding-normal 0;

    @include size-desktop {
      font-size: 22px;
    }
  }

  &__search {
    margin-bottom: $padding-default;

    @include size-desktop {
      flex: 1;
      margin-right: $padding-normal;
      margin-bottom: 0;
    }
  }

  &__search-button {
    @include size-desktop {
      font-size: $font-size-lg !important;
      padding: $padding-default 72px !important;
      width: auto !important;
    }
  }

  &__market-stats {
    margin-top: $padding-big;

    @include size-desktop {
      margin-top: $padding-max;
    }
  }

  &__network-stats {
    margin-top: -$padding-normal;
    margin-bottom: $padding-normal;
  }
}

.page-header {
  padding: $page-header-spacing;
  padding-top: calc(#{$header-size} + #{$padding-default});
  margin-top: -$header-size;
  background: $header-gradient;

  @include size-desktop {
    margin-top: 0;
    padding: 72px $padding-default;
  }

  &__wrapper {
    @include size-desktop {
      margin: 0 auto;
      max-width: $desktop-size-md;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }

  &__left {
    min-width: 50%;
  }

  &__title {
    text-align: center;

    @include size-desktop {
      text-align: left;
      font-size: $number-big;
      padding-bottom: 32px;
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        height: 4px;
        width: 52px;
        background: $primary;
      }
    }
  }

  &__stats {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include size-desktop {
      justify-content: space-between !important;
    }

    &_justify {
      &_center {
        justify-content: center;
      }
    }

    &-item {
      text-align: center;

      @include size-desktop {
        text-align: left;
      }
    }

    &-value {
      @include size-desktop {
        font-size: 28px;
        letter-spacing: 0.06em;
      }
    }

    &-title {
      margin-bottom: 8px;

      @include size-desktop {
        font-size: $h5-font-size;
        letter-spacing: 0.06em;
        text-align: left;
      }
    }

    &-index {
      font-weight: normal;

      @include size-desktop {
        font-size: $font-size-base;
      }
    }
  }
}

.single-page-header {
  background: $white;
  padding: $padding-default;
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;

  @include size-desktop {
    padding: 0 $padding-default;
  }

  &__wrapper {
    @include size-desktop {
      margin: 0 auto;
      max-width: $desktop-size-md;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__tx-number {
    font-size: 30px;
    margin-bottom: 4px;
    font-weight: bold;
  }

  &__tx-price {
    font-size: 18px;
    color: $grey-light;
    text-align: right;
  }

  &__subtitle {
    @include size-desktop {
      letter-spacing: 0.06em;
      font-size: $h5-font-size;
    }
  }

  &__icon {
    display: none;

    @include size-desktop {
      margin-right: 38px;
      display: block;
      height: 48px;
      width: 48px;

      g {
        opacity: 1;
      }

      &_block {
        path {
          fill: #0b163c;
        }
      }

      &_mining {
        path {
          fill: $tx-reward-color;
        }
      }

      &_transfer {
        path {
          fill: $tx-transfer-color;
        }
      }

      &_sigchain {
        path {
          fill: $tx-sigchain-color;
        }
      }

      &_subscription {
        path {
          fill: $tx-subscription-color;
        }
      }

      &_wallet-name-registration {
        path {
          fill: $tx-wallet-name-registration-color;
        }
      }

      &_wallet-name-transfer {
        path {
          fill: $tx-wallet-name-transfer-color;
        }
      }

      &_wallet-name-deletion {
        path {
          fill: $tx-wallet-name-deletion-color;
        }
      }

      &_generate-id {
        path {
          fill: $tx-generate-id;
        }
      }
    }
  }

  &__hash {
    display: none;

    @include size-desktop {
      display: block;
    }
  }

  &__info {
    margin-top: $padding-normal;
    margin-bottom: 32px;
    text-align: center;
    width: 100%;

    @include size-desktop {
      margin: 54px 0;
      text-align: left;
    }
  }

  &__title {
    margin: 4px 0;

    @include size-desktop {
      margin: 8px 8px 16px 0;
      display: inline-block;
    }
  }

  &__switches {
    display: grid;
    grid-gap: $card-container-gap;
    grid-template-columns: repeat(2, 1fr);

    @include size-desktop {
      display: none;
    }
  }

  .get-back {
    @include size-desktop {
      display: none;
    }
  }

  &__address {
    margin-top: $padding-micro;
    font-size: $font-size-xs;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (min-width: 360px) {
      font-size: $font-size-md;
    }

    @include size-desktop {
      margin-top: 0;
      font-size: $h5-font-size;
      justify-content: flex-start;
    }

    &:hover {
      path {
        fill: $primary;
      }
    }

    &-copy {
      position: relative;
      path {
        transition: $transition-1;
      }
      margin-left: 8px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: none;

    @include size-desktop {
      display: block;
    }
  }
}

/*========== Card ==========*/
.card {
  position: relative;
  bottom: 0;
  &__item {
    &:not(:last-child) {
      margin-bottom: $padding-default;
    }
  }

  &__subitem {
    margin-top: 4px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $base;
    margin-bottom: $padding-default;
  }

  &__title {
    color: $grey-light;
    margin-bottom: 8px;
    font-size: $font-size-md;
    font-weight: bold;
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  &__text {
    font-size: $font-size-md;
    color: $grey-dark;
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  &__link {
    font-size: $font-size-md;
    display: block;
    color: $primary;
    transition: $transition-1;
    cursor: pointer;
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    &:hover {
      color: darken($primary, 20%);
      path,
      g {
        fill: darken($primary, 20%);
      }
    }

    path,
    g {
      transition: $transition-1;
    }
  }

  &__tx {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      transform: $tx-transform;
      border-radius: $tx-br;
      height: $tx-size;
      width: $tx-size;
    }

    &_type {
      &_all {
        &:before {
          background-color: $primary;
        }
      }

      &_reward {
        &:before {
          background-color: $tx-reward-color;
        }
      }

      &_transfer {
        &:before {
          background-color: $tx-transfer-color;
        }
      }

      &_sigchain {
        &:before {
          background-color: $tx-sigchain-color;
        }
      }

      &_subscription {
        &:before {
          background-color: $tx-subscription-color;
        }
      }

      &_wallet-name-registration {
        &:before {
          background-color: $tx-wallet-name-registration-color;
        }
      }

      &_wallet-name-transfer {
        &:before {
          background-color: $tx-wallet-name-transfer-color;
        }
      }

      &_wallet-name-deletion {
        &:before {
          background-color: $tx-wallet-name-deletion-color;
        }
      }

      &_generate-id {
        &:before {
          background-color: $tx-generate-id;
        }
      }
    }
  }
}

/*========== Desktop Card ==========*/
.desktop-card {
  &__item {
    margin-top: $padding-default;
    font-size: $font-size-lg;
    word-break: break-all;

    &_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/*========== Text ==========*/
.text {
  font-size: $font-size-sm;

  &_weight {
    &_bold {
      font-weight: bold;
    }
  }

  &_size {
    &_default {
      font-size: $font-size-base;
    }

    &_md {
      font-size: $font-size-md;
    }

    &_sm {
      font-size: $font-size-sm;
    }

    &_xs {
      font-size: $font-size-xs;
    }
  }

  &_color {
    &_primary {
      color: $primary;
    }

    &_default {
      color: $grey-dark;
    }

    &_grey-light {
      color: $grey-light;
    }

    &_white {
      color: $white;
    }
  }

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  &_opacity {
    &_75 {
      opacity: 0.75;
    }
  }

  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_link {
    color: $primary;
    transition: $transition-1;
    &:hover {
      color: darken($primary, 20%);
    }
  }

  &_align {
    &_left {
      text-align: left !important;
    }

    &_right {
      text-align: right !important;
    }

    &_center {
      text-align: center !important;
    }
  }
}

/*========== Page Animation ==========*/
@media (max-width: 1200px) {
  .expand-enter-active {
    transition: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);

    .single-page-header {
      max-height: 220px;

      * {
        transition: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;
      }
    }

    .card-container {
      min-height: 700px;
      transition: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
      opacity: 0;
    }
  }

  .expand-leave-active {
    transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

    .expand-container {
      .card {
        transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;

        &:first-of-type {
          opacity: 1;
          border-radius: 0;
          bottom: 151px;
          transform: scale(1.2);
          box-sizing: border-box;
          height: calc(220px - 33.33px);
          overflow: hidden;

          * {
            opacity: 0;
          }
        }
      }
    }
  }
}

/*========== Page Pagination ==========*/
.page-navigation {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  &__info {
    font-size: $font-size-xs;
    color: $grey-light;
    margin-bottom: $padding-default;
    width: 100%;
    text-align: center;
  }

  @include size-desktop {
    margin-top: 28px;
    margin-bottom: 128px;
  }
}

/*========== Latest Card ==========*/
.latest-card {
  max-width: 310px;
  margin-right: $padding-default;
  position: relative;
  padding: $padding-normal;
  transition: $transition-1;

  &:hover {
    box-shadow: $shadow-2;
  }

  @include size-desktop {
    max-width: unset;
    margin-right: 0;
    margin-bottom: $padding-default;
    border: none !important;
    min-height: 124px;
  }

  &__mobile {
    @include size-desktop {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include size-desktop {
      display: block;
      margin-top: 8px;
    }
  }

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      width: $padding-default;
      background-color: #e0e0e0;
      height: 1px;
      position: absolute;
      right: -17px;
      top: 50%;

      @include size-desktop {
        width: 1px;
        background-color: #bdbdbd;
        height: $padding-default;
        position: absolute;
        right: auto;
        top: auto;
        left: $padding-normal;
        bottom: -17px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;

    &:hover {
      path,
      g {
        fill: darken($primary, 20%);
      }
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin-right: 6px;

    path,
    g {
      transition: $transition-1;
      fill: $primary;
      opacity: 1;
    }

    &_small {
      height: 16px;
      width: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__size {
    margin-left: 8px;
  }

  &__address {
    display: block;
    margin: $padding-default 0;
  }
}

/*========== Table ==========*/
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;

  &__head {
  }

  &__head-row {
  }

  &__title {
    color: #95aac9;
    letter-spacing: 0.06em;
    font-size: $font-size-md;
    text-transform: uppercase;
    font-weight: bold;

    &:not(:first-child) {
      padding: 0 24px 8px;
    }

    &:first-child {
      padding-left: 24px;
    }
  }

  &__body {
  }

  &__row {
    background: $white;
    box-shadow: $shadow-2;
  }

  &__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:first-child) {
      padding: 21px 24px;
    }

    &:first-child {
      padding-left: 24px;
      border-top-left-radius: $app-br;
      border-bottom-left-radius: $app-br;
    }

    &:last-child {
      border-top-right-radius: $app-br;
      border-bottom-right-radius: $app-br;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    top: 4px;
    position: relative;
    margin-right: 8px;

    path,
    g {
      fill: $primary;
      opacity: 1;
    }
  }
}
