/*========== Body ==========*/
html {
  overflow-x: hidden;
}

body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
  }
}

a {
  text-decoration: none;
}

/*========== Layout ==========*/
.container {
  margin-top: $header-size;

  &_white {
    background-color: $white;
  }
}

.main-header {
  overflow: hidden;
  padding: $padding-normal $padding-default;
  margin-top: -$header-size;
  padding-top: calc(#{$header-size} + #{$padding-medium});
  background: $header-gradient;

  &__title {
    text-align: center;
  }

  &__description {
    font-size: $font-size-lg;
    color: $white;
    text-align: center;
    margin: $padding-normal 0;
  }

  &__search {
    margin-bottom: $padding-default;
  }

  &__market-stats {
    margin-top: $padding-big;
  }

  &__network-stats {
    margin-top: -$padding-normal;
    margin-bottom: $padding-normal;
  }
}

.page-header {
  padding: $page-header-spacing;
  padding-top: calc(#{$header-size} + #{$padding-default});
  margin-top: -$header-size;
  background: $header-gradient;

  &__title {
    text-align: center;
  }

  &__stats {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &_justify {
      &_center {
        justify-content: center;
      }
    }

    &-item {
      text-align: center;
    }

    &-title {
      margin-bottom: 8px;
    }

    &-index {
      font-weight: normal;
    }
  }
}

.single-page-header {
  background: $white;
  padding: $padding-default;

  &__info {
    margin-top: $padding-normal;
    margin-bottom: 32px;
    text-align: center;
  }

  &__title {
    margin: 4px 0;
  }

  &__switches {
    display: grid;
    grid-gap: $card-container-gap;
    grid-template-columns: repeat(2, 1fr);
  }

  &__address {
    margin-top: $padding-micro;
    font-size: $font-size-md;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      path {
        fill: $primary;
      }
    }

    &-copy {
      position: relative;
      path {
        transition: $transition-1;
      }
      margin-left: 8px;
    }
  }
}

/*========== Card ==========*/
.card {
  &__item {
    &:not(:last-child) {
      margin-bottom: $padding-default;
    }
  }

  &__subitem {
    margin-top: 4px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $base;
    margin-bottom: $padding-default;
  }

  &__title {
    color: $grey-light;
    margin-bottom: 8px;
    font-size: $font-size-md;
    font-weight: bold;
    word-wrap: break-word;
  }

  &__text {
    font-size: $font-size-md;
    color: $grey-dark;
    word-wrap: break-word;
  }

  &__link {
    font-size: $font-size-md;
    display: block;
    color: $primary;
    transition: $transition-1;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
      color: darken($primary, 20%);
      path,
      g {
        fill: darken($primary, 20%);
      }
    }

    path,
    g {
      transition: $transition-1;
    }
  }

  &__tx {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      transform: $tx-transform;
      border-radius: $tx-br;
      height: $tx-size;
      width: $tx-size;
    }

    &_type {
      &_reward {
        &:before {
          background-color: $tx-reward-color;
        }
      }

      &_transfer {
        &:before {
          background-color: $tx-transfer-color;
        }
      }

      &_sigchain {
        &:before {
          background-color: $tx-sigchain-color;
        }
      }

      &_subscription {
        &:before {
          background-color: $tx-subscription-color;
        }
      }

      &_wallet-name-registration {
        &:before {
          background-color: $tx-wallet-name-registration-color;
        }
      }

      &_wallet-name-transfer {
        &:before {
          background-color: $tx-wallet-name-transfer-color;
        }
      }

      &_wallet-name-deletion {
        &:before {
          background-color: $tx-wallet-name-deletion-color;
        }
      }
    }
  }
}

/*========== Text ==========*/
.text {
  font-size: $font-size-sm;

  &_weight {
    &_bold {
      font-weight: bold;
    }
  }

  &_size {
    &_default {
      font-size: $font-size-base;
    }

    &_md {
      font-size: $font-size-md;
    }

    &_sm {
      font-size: $font-size-sm;
    }

    &_xs {
      font-size: $font-size-xs;
    }
  }

  &_color {
    &_primary {
      color: $primary;
    }

    &_default {
      color: $grey-dark;
    }

    &_grey-light {
      color: $grey-light;
    }

    &_white {
      color: $white;
    }
  }

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  &_opacity {
    &_75 {
      opacity: 0.75;
    }
  }

  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_link {
    color: $primary;
    transition: $transition-1;
    &:hover {
      color: darken($primary, 20%);
    }
  }
}

/*========== Page Animation ==========*/
// .page-enter-active,
// .page-leave-active {
//   transition: 0.1s ease-in-out all;
// }
// .page-enter {
//   position: relative;
//   transform: translate(100%, 0);
// }
// .page-leave-active {
//   position: relative;
//   transform: translate(-100%, 0);
// }

/*========== Page Pagination ==========*/
.page-navigation {
  margin-bottom: 54px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  &__info {
    font-size: $font-size-xs;
    color: $grey-light;
    margin-bottom: $padding-default;
    width: 100%;
    text-align: center;
  }
}

/*========== Latest Card ==========*/
.latest-card {
  max-width: 310px;
  margin-right: $padding-default;
  position: relative;
  padding: $padding-normal;

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      width: $padding-default;
      background-color: #e0e0e0;
      height: 1px;
      position: absolute;
      right: -17px;
      top: 50%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;

    &:hover {
      path,
      g {
        fill: darken($primary, 20%);
      }
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin-right: 6px;

    path,
    g {
      transition: $transition-1;
      fill: $primary;
      opacity: 1;
    }

    &_small {
      height: 16px;
      width: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__size {
    margin-left: 8px;
  }

  &__address {
    display: block;
    margin: $padding-default 0;
  }
}
