/*========== Body ==========*/
body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
  }
}

a {
  text-decoration: none;
}

/*========== Layout ==========*/
.container {
  margin-top: $header-size;
}

.page-header {
  padding: $page-header-spacing;
  padding-top: calc(#{$header-size} + #{$padding-default});
  margin-top: -$header-size;
  background: $header-gradient;

  &__title {
    text-align: center;
  }

  &__stats {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      text-align: center;
    }
    &-title {
      margin-bottom: 8px;
    }
    &-index {
      font-weight: normal;
    }
  }
}

.single-page-header {
  background: $white;
  padding: $padding-default;

  &__info {
    margin-top: $padding-normal;
    margin-bottom: 32px;
    text-align: center;
  }

  &__title {
    margin: 4px 0;
  }

  &__switches {
    display: grid;
    grid-gap: $card-container-gap;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*========== Text ==========*/
.text {
  font-size: $font-size-sm;

  &_weight {
    &_bold {
      font-weight: bold;
    }
  }

  &_size {
    &_default {
      font-size: $font-size-base;
    }

    &_sm {
      font-size: $font-size-sm;
    }
  }

  &_color {
    &_primary {
      color: $primary;
    }

    &_default {
      color: $grey-dark;
    }

    &_grey-light {
      color: $grey-light;
    }

    &_white {
      color: $white;
    }
  }

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  &_opacity {
    &_75 {
      opacity: 0.75;
    }
  }
}

/*========== Card ==========*/
.card {
  &__title {
    color: $grey-light;
    margin-bottom: 8px;
    font-size: $font-size-md;
    font-weight: bold;
    word-wrap: break-word;
  }
  &__text {
    font-size: $font-size-md;
    color: $grey-dark;
    word-wrap: break-word;
  }
  &__link {
    color: $primary;
    transition: $transition-1;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
      color: darken($primary, 20%);
    }
  }
}
