.block-card {
  &__header {
    margin-bottom: $padding-default;
    display: flex;
    align-items: center;
  }

  &__height {
    margin-right: 8px;
    display: flex;
    align-items: center;
    transition: $transition-1;

    &:hover {
      .block-card__icon {
        g {
          fill: darken($primary, 20%);
        }
      }
      color: darken($primary, 20%);
    }
  }

  &__txs {
    margin-bottom: 8px;
  }

  &__timestamp {
    flex: 1;
  }

  &__miner {
    display: flex;
  }

  &__icon {
    margin-right: 6px;

    g {
      transition: $transition-1;
      fill: $primary;
      opacity: 1;
    }
  }
}
