.node-tracing {
  background: $white;

  &_spacing {
    padding: $padding-normal $padding-default;
  }

  &__item {
    border-radius: $app-br;
    padding: $padding-micro;
    position: relative;
    margin-bottom: $padding-default;

    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        height: $padding-default;
        width: 1px;
        background-color: #e0e0e0;
        position: absolute;
        bottom: -$padding-default;
        left: 28px;
      }
    }

    &_type {
      &_send {
        background: linear-gradient(97.76deg, #0a58e5 4.48%, #4abdff 97.21%);

        .node-tracing__heading {
          color: $white;
        }

        .node-tracing__label {
          color: $primary;
          background-color: #dceffd;
        }
      }

      &_recieve {
        background: linear-gradient(101.83deg, #07c881 -5.03%, #58daaa 106.01%);

        .node-tracing__heading {
          color: $white;
        }

        .node-tracing__label {
          color: #27ae60;
          background-color: #eaf8f0;
        }
      }

      &_relay {
        border: 1px solid #e0e0e0;

        &:after {
          bottom: calc(#{-$padding-default} - 1px) !important;
          left: 27px !important;
        }

        .node-tracing__label {
          color: #bb6bd9;
          background-color: #f5e9f9;
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    margin-right: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-weight: bold;
    font-size: $font-size-sm;
    position: relative;

    @include size-desktop {
      font-size: $font-size-base;
    }
  }

  &__label {
    padding: 8px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-transform: uppercase;

    @include size-desktop {
      font-size: $font-size-xs;
    }
  }

  &__pk {
    color: $white;
    margin-top: $padding-micro;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-size-xs;

    @include size-desktop {
      font-size: $font-size-md;
    }
  }

  &__addr {
    margin-top: $padding-micro;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-size-xs;

    @include size-desktop {
      font-size: $font-size-md;
    }
  }

  &__full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $padding-normal;
  }

  &__flag {
    position: absolute;
    top: -8px;
    left: 42px;
    border-radius: 26px;

    @include size-desktop {
      top: -6px;
      left: 48px;
    }
  }
}
