.card {
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  margin: $half-gutter-width 0;
  position: relative;
  overflow: hidden;
  height: calc(100% - 2 * #{$half-gutter-width});
  &_bg_default {
    background: $card-bg-default;
  }
  &_bg_primary {
    background: $card-bg-primary;
  }
  &_bg_success {
    background: $card-bg-success;
  }
  &_bg_error {
    background: $card-bg-error;
  }
}
