.mobile-menu {
  color: $header-color;
  z-index: 100;
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  opacity: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1),
    padding-top 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &_open {
    padding-top: $padding-normal;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.5s ease-in-out, padding-top 0.2s ease-in-out;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding-normal;
    align-items: center;
  }

  &__close {
    font-size: $menu-button-size;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    opacity: 0.8;
  }

  &__nav {
    display: grid;
    grid-gap: $menu-grid-gap;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $padding-normal;
    margin-bottom: $padding-medium;
    &-item {
      opacity: 0.75;
      text-decoration: none;
      color: $white;
      background-color: $secondary;
      border-radius: $app-br;
      padding: $padding-default;
      cursor: pointer;
      font-weight: bold;
      transition: $transition-1;

      &.nuxt-link-exact-active {
        background-color: $primary;
        opacity: 1;

        path,
        g {
          fill: $white;
          opacity: 1;
        }
      }

      &:hover {
        background-color: darken($primary, 10%);
      }

      &:active {
        background-color: lighten($primary, 10%);
      }
    }

    &-icon {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__stats {
    margin: $padding-default 0;
    font-weight: bold;
    &-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
