.wrapper {
  box-sizing: border-box;
  max-width: $flexboxgrid-max-width;
  margin: 0 auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $flexboxgrid-outer-margin;
  padding-left: $flexboxgrid-outer-margin;
}

.row {
  box-sizing: border-box;
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row.row_reverse {
  @include flex-direction(row-reverse);
}

.col.col_reverse {
  @include flex-direction(column-reverse);
}

@mixin flexboxgrid-sass-col-common {
  box-sizing: border-box;

  // split @include flex(0, 0, auto) into individual props
  @include flex-grow(0);
  @include flex-shrink(0);

  // we leave @include flex-basis(auto) out of common because
  // in some spots we need it and some we dont
  // more why here: https://github.com/kristoferjoseph/flexboxgrid/issues/126

  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

$name: xs;
.col.col_#{$name} {
  @include flexboxgrid-sass-col-common;
  @include flex-basis(auto);
}
@for $i from 1 through $flexboxgrid-grid-columns {
  .col.col_#{$name}_#{$i} {
    @include flexboxgrid-sass-col-common;
    @include flex-basis(100% / $flexboxgrid-grid-columns * $i);
    max-width: 100% / $flexboxgrid-grid-columns * $i;
  }
}
@for $i from 0 through $flexboxgrid-grid-columns {
  .col.col_#{$name}-offset_#{$i} {
    @include flexboxgrid-sass-col-common;
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: 100% / $flexboxgrid-grid-columns * $i;
    }
  }
}
.col.col_#{$name} {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}
.row.row_start_#{$name} {
  @include justify-content(flex-start);
  text-align: left;
}

.row.row_center_#{$name} {
  @include justify-content(center);
  text-align: center;
}

.row.row_end_#{$name} {
  @include justify-content(flex-end);
  text-align: right;
}

.row.row_top_#{$name} {
  @include align-items(flex-start);
}

.row.row_middle_#{$name} {
  @include align-items(center);
}

.row.row_bottom_#{$name} {
  @include align-items(flex-end);
}

.row.row_around_#{$name} {
  @include justify-content(space-around);
}

.row.row_between_#{$name} {
  @include justify-content(space-between);
}

.col.col_first_#{$name} {
  order: -1;
}

.col.col_last_#{$name} {
  order: 1;
}

@each $breakpoint in $flexboxgrid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .container {
      width: $container;
    }

    .col.col_#{$name} {
      @include flexboxgrid-sass-col-common;
      @include flex-basis(auto);
    }
    @for $i from 1 through $flexboxgrid-grid-columns {
      .col.col_#{$name}_#{$i} {
        @include flexboxgrid-sass-col-common;
        @include flex-basis(100% / $flexboxgrid-grid-columns * $i);
        max-width: 100% / $flexboxgrid-grid-columns * $i;
      }
    }
    @for $i from 0 through $flexboxgrid-grid-columns {
      .col.col_#{$name}-offset_#{$i} {
        @include flexboxgrid-sass-col-common;
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: 100% / $flexboxgrid-grid-columns * $i;
        }
      }
    }
    .col.col_#{$name} {
      @include flex-grow(1);
      @include flex-basis(0);
      max-width: 100%;
    }
    .row.row_start_#{$name} {
      @include justify-content(flex-start);
      text-align: left;
    }

    .row.row_center_#{$name} {
      @include justify-content(center);
      text-align: center;
    }

    .row.row_end_#{$name} {
      @include justify-content(flex-end);
      text-align: right;
    }

    .row.row_top_#{$name} {
      @include align-items(flex-start);
    }

    .row.row_middle_#{$name} {
      @include align-items(center);
    }

    .row.row_bottom_#{$name} {
      @include align-items(flex-end);
    }

    .row.row_around_#{$name} {
      @include justify-content(space-around);
    }

    .row.row_between_#{$name} {
      @include justify-content(space-between);
    }

    .col.col_first_#{$name} {
      order: -1;
    }

    .col.col_last_#{$name} {
      order: 1;
    }
  }
}
