.latest {
  padding: $padding-default;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
    display: flex;
  }
}
