.search {
  background-color: $white;
  display: flex;
  align-items: center;
  padding: $padding-small $padding-default;
  border-radius: $app-br;
  transition: $transition-1;
  box-sizing: border-box;
  border: 1px solid transparent;

  @include size-desktop {
    padding: $padding-default 20px;
  }

  &__control {
    flex: 1;
    background-color: $white;
    outline: none;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: $transition-1;

    @include size-desktop {
      font-size: $font-size-lg;
      order: 2;
    }

    &::placeholder {
      transition: $transition-1;
      color: $grey-light;
      font-style: italic;
    }
  }

  &__icon {
    color: $primary;
    font-size: 22px;
    margin-left: $padding-normal;
    cursor: pointer;
    transition: $transition-1;

    @include size-desktop {
      margin-left: 0;
      order: 1;
      margin-right: 18px;
      color: #303159;
    }
  }

  &_type {
    &_ghost {
      padding: $padding-micro $padding-default;
      border: 1px solid rgba($white, 0.25);
      background: transparent;
      box-sizing: border-box;
      border-radius: 100px;

      .search__control {
        background: transparent;
        font-size: $font-size-md;
        color: $white;
        opacity: 0.75;
        order: 1;

        &::placeholder {
          font-style: normal;
        }
      }

      .search__icon {
        order: 2;
        color: $white;
        margin-right: 0;
      }
    }
  }

  &_error {
    border: 1px solid #d63649;

    .search__control {
      color: #d63649;

      &::placeholder {
        color: #d63649;
      }
    }
  }
}
