.network-nodes {
  margin-top: 8px;
  padding: $padding-medium $padding-default 0 $padding-default;
  background: $white;
  font-weight: bold;
  text-align: center;

  &__subtitle {
    font-size: $font-size-xs;
    color: $grey-light;
    margin-top: 8px;
    margin-bottom: $padding-normal;
    font-weight: normal;
  }

  &__data {
    display: flex;
    justify-content: space-around;

    &-title {
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: $grey-light;
      margin-bottom: 8px;
      text-align: center;
    }

    &-value {
      text-align: center;
      letter-spacing: 0.06em;
      font-size: $number-small;
    }
  }

  &__map {
    height: 340px;
    margin-top: $padding-medium;
  }
}
