.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  @include size-desktop {
    max-width: $desktop-size-lg;
    margin: 0 auto;
    padding: $padding-default 0;
  }

  &__burger {
    font-size: $menu-button-size;
    cursor: pointer;
  }

  &__logo {
    display: flex;
  }
}
